// Material Design Palette
$materialPrimaryColour: #5ac3e6;
$materialSecondaryColour: #e57d5a;
$materialAnalogousColour1: #5ae5c3;
$materialAnalogousColour2: #5a7de5;
$materialTriadicColour1: #7d5ae5;
$materialTriadicColour2: #e55ac3;

