:root {
    --veryDarkGrey: #222;
    --darkGrey: #666;
    --grey: #888;
    --lightGrey: #ddd;
    --veryLightGrey: #eee;
    --blue: #215498;
    --red: #cc0000;

    --elementCornerRadius: 4px;

    --linkColour: var(--materialPrimaryColour);

    /*Material Design Palette*/
    --materialPrimaryColour: #1976d2;
    --materialSecondaryColour: #d27619;
    --materialAnalogousColour1: #19d2d2;
    --materialAnalogousColour2: #1919d2;
    --materialTriadicColour1: #7619d2;
    --materialTriadicColour2: #d21976;

    /* https://coolors.co/1b67e0 */
    --colourPrimary: #1B67E0;
    --colourComplementary: #DE941B;
    --colourAnalogousLighter: #1BDED5;
    --colourAnalogousDarker: #531BDE;
    --colourTriadicRed: #DE1B66;
    --colourTriadicGreen: #66DE1B;
    --colourComplementaryOrange: #DE531B;
    --colourComplementaryYellow: #DED51B;
}