/*@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');*/
@import "common.css";

/* Icon Font Definitions */
/* Using the self-hosting method.
 *
 * Docs: https://developers.google.com/fonts/docs/material_icons
 */
@font-face {
    font-family: 'Material Symbols Round';
    font-style: normal;
    font-weight: 400;
    /*noinspection CssUnknownTarget*/
    src: url("/ext/fonts/material-symbols-rounded.woff2") format('woff2');
}

.material-symbols-rounded {
    /*noinspection CssNoGenericFontName*/
    font-family: 'Material Symbols Round', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


/* Reset */

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 100vw;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, li, dl {
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.5rem;
}

/* Global Appearance */

input[type="text"], input[type="password"] {
    padding: 8px;
    font-size: 1rem;

    color: var(--veryDarkGrey);
    border: 1px solid var(--grey);
    background-color: #fff;
    border-radius: var(--elementCornerRadius);

    &:hover, &:focus, &:active {
        color: #000;
        border: 1px solid var(--veryDarkGrey);
    }
}

button, a.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    text-decoration: none;

    color: #000;
    background-color: var(--veryLightGrey);
    border-radius: var(--elementCornerRadius);

    &:hover, &:focus, &:active {
        color: #000;
        background-color: var(--lightGrey);
    }

    & > .icon:first-child {
        margin-left: -4px;
        margin-right: 8px;
    }

    & > .icon:last-child {
        margin-left: 8px;
        margin-right: -4px;
    }

    & > .icon:first-child:last-child {
        margin-left: -4px;
        margin-right: -4px;
    }

    &[disabled], .disabled {
        color: var(--grey);
    }

    &[type="submit"], &.primary {
        color: #fff;
        background-color: var(--colourPrimary);
    }

    &.destructive {
        color: #fff;
        background-color: var(--colourDanger);
    }
}

.spacer {
    flex: 1 1 auto;
}

.screen-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    min-width: 320px;

    header {
        padding: 8px 24px;
        font-weight: 700;
        background-color: #000;
        color: #fff;
    }

    h1 {
        margin: 8px 24px;
    }

    p {
        margin: 8px 0 16px 0;
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    & > div {
        display: flex;
        flex-direction: column;
    }

    & > .field {
        margin-top: 8px;
    }

    & > .field label {
        margin-bottom: 8px;
    }

    & > .actions {
        margin-top: 32px;
    }
}

.login-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .form-container {
        /* */
    }
}

.data-table-container {
    display: flex;
    flex-direction: column;

    .data-table {
        flex: 1;
        vertical-align: top;
        border-spacing: 0;
        border-top: 1px solid var(--darkGrey);

        th, td {
            text-align: left;
            padding: 8px 12px;

            &.data-table-row-selector {
                border-right: 1px dashed var(--grey);
                text-align: right;
                padding: 4px 8px;
                width: 24px;

                &.non-selectable {
                    cursor: default;

                    .icon {
                        opacity: 0.1;
                    }
                }
            }
        }

        th {
            border-bottom: 2px solid var(--darkGrey);
        }

        td {
            border-bottom: 1px solid var(--grey);
        }

        td:empty::before {
            content: "null";
            background-color: var(--lightGrey);
            color: var(--white);
            border-radius: 4px;
            padding: 2px 4px;
            font-size: 12px;
        }

        tr:nth-child(2n + 1) td {
            background-color: var(--veryLightGrey);
        }

        tr:nth-child(2n) td {
            background-color: var(--white);
        }
    }

    .data-table-navigator {
        display: flex;
        justify-content: space-between;
        background-color: var(--darkGrey);

        button, .btn {
            color: var(--white);
            border-radius: 0;
            background-color: transparent;

            &:hover, &:focus, &:active {
                background-color: var(--veryDarkGrey);
            }
        }

        .data-table-navigator-primary {
            display: flex;
            flex-direction: row;
        }

        .data-table-navigator-secondary {
            display: flex;
            flex-direction: row;
        }
    }

    .data-table-field-type-list {
        ul {
            margin-left: 16px;
        }
    }

    .data-table-field-type-boolean,
    .data-table-field-type-object {
        font-family: monospace;
    }

    .data-table-field-type-number,
    .data-table-field-type-integer,
    .data-table-field-type-float {
        font-family: monospace;
        text-align: right;
    }

    .data-table-deleter {
        display: flex;
        align-items: center;
        padding: 8px 16px;

        button {
            margin-left: 4px;
        }
    }

    .data-table-delete-initiator {
        display: flex;

        .data-table-delete-counter {
            font-size: 12px;
            font-weight: 700;
            padding: 2px 8px;
            margin-left: 8px;
            background-color: var(--colourDanger);
            color: var(--white);
            border-radius: 16px;
        }
    }

    .data-table-delete-message {
        display: flex;
        align-items: center;

        .icon {
            color: var(--colourDanger);
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}

.foundation-tag {
    display: inline-flex;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--lightGrey);
}