@import url('./base.css');

[data-page="login"] article > header {
    padding: 8px 24px;
    font-weight: 700;
    background-color: #ddd;
}

[data-page="login"] article > h1 {
    padding: 8px 24px;
}
