.login-component {
    overflow: hidden;

    .mode-realm {
        background-color: #008477;
    }

    .mode-master {
        background-color: #d34d38;
    }

    .feedback {
        padding: 24px;
        // background-color: #eee;
        // border-top: 1px dashed #000;
        // border-bottom: 1px dashed #000;
    }

    .feedback-of-ok::before {
        content: '✅ ';
    }

    .feedback-of-error::before {
        content: '❌ ';
    }
}