.resourceForm {
}

.actions {
    display: flex;
    flex-direction: row;

    margin-top: 0;

    button {
        display: flex;
        align-items: center;
        margin-right: 4px;
    }
}

.actions {
    top: 1px solid var(--lightGrey);
    padding: 8px 0 0 0;
}

.controllers {
}

.controller {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    label {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    input[type="text"] {
    }

    input[disabled] {
        border: 1px solid var(--lightGrey);
    }
}

.itemList {
    list-style: none;

    li {
        display: flex;

        input[type="checkbox"] {
            margin-right: 8px;
        }
    }
}