.resourceForm {
}

.actions {
    display: flex;
    flex-direction: row;

    margin-top: 0;

    button {
        display: flex;
        align-items: center;
        margin-right: 4px;
    }
}

.actions {
    top: 1px solid var(--lightGrey);
    padding: 8px 0 0 0;
}

.controllers {
}

.controller {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    label {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    input[type="text"] {
    }

    input[disabled] {
        border: 1px solid var(--lightGrey);
    }

    &[data-type="boolean"] {
        flex-direction: row;
        align-items: center;

        input {
            margin-right: 8px;
        }

        label {
            font-weight: 400;
            margin-bottom: 0;
        }
    }
}

.itemListFilter {
    margin-bottom: 2px;
}

.itemList {
    list-style: none;
    border: 1px solid var(--grey);
    border-radius: 4px;

    li {
        display: flex;
        align-items: center;
        padding: 8px;
        border-top: 1px solid var(--lightGrey);

        input[type="checkbox"] {
            margin-right: 8px;
        }

        &:first-child {
            border-top: none;
        }
    }

    &[data-count="0"] {
        border-style: dashed;
    }

    &[data-count="0"]::before {
        display: block;
        content: "None";
        color: var(--grey);
        padding: 8px;
    }
}

.itemListReadOnly {
    border-color: var(--lightGrey);

    li {
        border-top-style: dashed;
        border-top-color: var(--veryLightGrey);
    }
}

.itemListCheckbox {
    margin-right: 8px;
}

.sensitiveInput {
    display: flex;

    input {
        flex: 1;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        font-family: monospace;
    }

    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.dataBlockReferenceLink {
    display: inline-flex;
    align-items: center;
    color: var(--colourPrimary);
    text-decoration: underline;
    cursor: pointer;
}

.dataBlockObject {
    border-spacing: 0;
    border: 1px solid var(--grey);

    th {
        text-align: left;
        padding: 4px 8px !important;
        border: none !important;
        border-top: 1px solid var(--lightGrey) !important;
        border-right: 1px solid var(--lightGrey) !important;
        background-color: transparent !important;
    }

    td {
        padding: 4px 8px !important;
        border: none !important;
        border-top: 1px solid var(--lightGrey) !important;
        background-color: transparent !important;
    }
}