.vCheckbox {
    display: inline-flex;
    cursor: pointer;
    max-width: 46px;
    max-height: 46px;
    text-decoration: none;
    color: var(--black);
}

.vCheckboxDisabled {
    &.vCheckboxYes {
    }

    &.vCheckboxNo {
        opacity: 0.1;
    }

    &.vCheckboxIntermediate {
    }
}

.vSwitch {
    display: inline-flex;
    border: 1px solid var(--lightGrey);
    background-color: var(--veryLightGrey);
}

.vSwitchActive {
    background-color: var(--white);
}